h2{
  display: flex;
justify-content: center;
margin-top: 5px;
 margin-bottom:12px; 
 font-size:20px; 
}
body{
  /*background:linear-gradient(skyblue,lightgreen) ;*/
  font-family: sans-serif;
  margin:0;
  background-image:url( images/anh-doremon-cute.jpg); 
  background-repeat: no-repeat;/*cho anh nen ko bi lap lai*/
  background-attachment: fixed;/*keo trang- nen dung yen,croll nen cuon theo*/
  background-position: center;/*canh chinh anh o giua*/
  background-size: cover;/*ho tro lam mat khoan trang xung quanh*/
}
.container{
  display: flex;
  justify-content: center;/*canh giua ngang*/
  align-items: center;/*canh giua doc*/
  height: 100vh;

}
.card{
 /* background: linear-gradient(pink,skyblue);*/
 background-color: pink;
  border-radius: 20px;
  width: 350px;
  padding: 20px; 
}
.card h2{
  margin-bottom: 20px;
  font-size: 26px;
}
label{
  font-weight: bold;/*chu dam*/
   /*display: block; MOi label nam tren 1 dong*/
  margin-top: 15px;/*cach voi label tren 15px*/
}
input{
  width:100%;
  height:45px;
  margin-top:8px;
  border-radius: 10px;
  border: 0;
  padding:0 15px;
  font-size: 16px;
  box-sizing: border-box;
}
button{
  width: 100%;
  height: 45px;
  margin-top: 10px;
  background: #0f172a;
  color: white;
  border: none;/*vien*/
  border-radius: 12px;/*bo tron*/
  font-size: 16px;/*kich thuoc chu*/
  font-weight: bold;
  cursor: pointer;/*re chuot vao co hinh ban tay*/
}
.note{
   margin-top: 15px;
  font-size: 14px;
  color: red;
}
